@{
    ViewBag.Title = "الدعم";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong title="Phone">الموبايل:</strong>
    01282684944
</address>

<address>
    <strong>الايميل:</strong>   <a href="mailto:yousifelsekily@gmail.com">yousifelsekily@gmail.com</a><br />
</address>